<%= form_for meeting do |f| %>
  <div class='field'>
    <%= f.label :course %>
    <%= f.text_field :course %>
  </div>
  <div class='field'>
    <% room_opts = options_for_select(
         meeting.available_rooms,
         meeting.room_name
    ) %>
    <%= f.label :room %>
    <%= f.select :room, room_opts, include_blank: true %>
  </div>
  <div class='field'>
    <%= f.label :start %>
    <%= f.text_field :start %>
  </div>
  <div class='field'>
    <% length_opts = options_for_select(
         meeting.allowed_lengths,
         meeting.length
    ) %>
    <%= f.label 'Length (minutes)' %>
    <%= f.select :length, length_opts, include_blank: true %>
  </div>
  <div class='field'>
    <%= f.submit %>
  </div>
<% end %>
