<%= form_for meeting do |f| %>
  <div class='field'>
    <% course_opts = options_for_select(
         SelectOptionHelper.all_courses,
         meeting.course_id
    ) %>
    <%= f.label :course_id %>
    <%= f.select :course_id, course_opts, include_blank: true %>
  </div>
  <div class='field'>
    <% room_opts = options_for_select(
         SelectOptionHelper.all_rooms,
         meeting.room_id
    ) %>
    <%= f.label :room_id %>
    <%= f.select :room_id, room_opts, include_blank: true %>
  </div>
  <div class='field'>
    <%= f.label :start %>
    <%= f.datetime_local_field :start %>
  </div>
  <div class='field'>
    <% length_opts = options_for_select(
         meeting.allowed_lengths,
         meeting.length_to_i
    ) %>
    <%= f.label 'Length (minutes)' %>
    <%= f.select :length, length_opts, include_blank: true %>
  </div>
  <div class='field'>
    <%= f.submit %>
  </div>
<% end %>
