<div class='meetings index'>
  <h1>Meetings</h1>

  <p>
    <% link_opts = { class: 'plus_one' } %>
    <%= link_to(new_meeting_path, link_opts) do %>
      <i class='fa fa-plus-circle'><span>New Meeting</span></i>
    <% end %>
  </p>

  <table summary='meeting list'>
    <thead>
      <tr class='header'>
        <th>id</th>
        <th>Course</th>
        <th>Room</th>
        <th>Start</th>
        <th>Stop</th>
        <th>Length</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% meetings = MeetingDecorator.decorate_collection(@meetings) %>
      <% meetings.each do |meeting| %>
      <% locals  = { record: meeting } %>
      <tr>
        <td><%= link_to(meeting.id, meeting) %></td>
        <td><%= meeting.link_to_course %></td>
        <td><%= meeting.link_to_room %></td>
        <td><%= meeting.start %></td>
        <td><%= meeting.stop %></td>
        <td><%= meeting.display_length %></td>
        <%= content_tag(:td, class: 'action') do %>
          <%= render(partial: 'shared/actions', locals: locals) %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
